@import "tailwindcss";

@layer base {
    @font-face {
        font-family: IRANSans;
        src: url(/fonts/IRANSansXV.woff) format(woff);
    }

    @font-face {
        font-family: IRANSans;
        src: url(/fonts/IRANSansXV.woff2) format(woff2);
    }
}

@layer components {
    .container {
        width: 88% !important;
        margin: 0 auto !important;
    }


    .ss02 {
        -moz-font-feature-settings: "ss02";
        -webkit-font-feature-settings: "ss02";
        font-feature-settings: "ss02";
    }

    #hero-banner-swiper .swiper-pagination {
        z-index: 60 !important;
        position: absolute !important;
        bottom: 0 !important;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        transition: all 150ms ease-in-out;
        background-color: var(--color-Primary) !important;
        width: 50px !important;
        border-radius: 5px !important;
        -webkit-border-radius: 5px !important;
        -moz-border-radius: 5px !important;
        -ms-border-radius: 5px !important;
        -o-border-radius: 5px !important;
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
    }

}

@theme {
    --color-Primary: #F47A23;
    --color-Backg: #F6F6F6;
    --color-Title: #101010;
    --color-Caption: #585858;
    --color-Secondry: #A8A8A8;
    --font-IRANSans: IRANSans;
}